In [3]:
import pandas as pd
import glob

In [16]:
#Appending 24 districts data into one dataframe

data = pd.DataFrame()
for filename in glob.glob('JHARKHAND*'):
    df = pd.read_csv(filename)
    data = data.append(df)

In [13]:
len(data)

4337

In [42]:
data.to_csv('ALL.csv',index=False)

In [48]:
data = pd.read_csv(r'ALL.csv')
data.head()

,National Rank,State Name,Score,PDF,Gram Panchayat Name,District Name,Block Name,View Details
0,27,JHARKHAND(20),63,preloginDownloadScorePDF2019.html?stateCode=20...,KASMAR(111304),BOKARO(322),KASMAR(3069),Download
1,32,JHARKHAND(20),58,preloginDownloadScorePDF2019.html?stateCode=20...,TELO MIDDLE(111330),BOKARO(322),CHANDRAPURA(6626),Download
2,35,JHARKHAND(20),55,preloginDownloadScorePDF2019.html?stateCode=20...,NAWADIH(111334),BOKARO(322),NAWADIH(3070),Download
3,37,JHARKHAND(20),53,preloginDownloadScorePDF2019.html?stateCode=20...,RANGAMATI EAST(111148),BOKARO(322),CHANDRAPURA(6626),Download
4,37,JHARKHAND(20),53,preloginDownloadScorePDF2019.html?stateCode=20...,TENUGHAT(111366),BOKARO(322),PETERWAR(3071),Download

In [49]:
l = []
m = []
n = []
for index, row in data.iterrows():
    #Extracting Gram Panchayat Number
    m.append(str(row['Gram Panchayat Name'])[-7:-1])
    
    #Making GP Code Concat : State Code + District Code + Block Code + Panchayat Code
    n.append(str('20'+str(row['District Name'])[-4:-1] + str(row['Block Name'])[-5:-1] + str(row['Gram Panchayat Name'])[-7:-1]))
    
    i = str(row['PDF']).find('Name=')
    if i!=-1:
        l.append(str(row['PDF'])[i+5:])
    else:
        l.append(None)
        
data['pdf_names'] = l
data['GP Code'] = m
data['GPCode_Concat'] = n

In [50]:
data.head()

,National Rank,State Name,Score,PDF,Gram Panchayat Name,District Name,Block Name,View Details,pdf_names,GP Code,GPCode_Concat
0,27,JHARKHAND(20),63,preloginDownloadScorePDF2019.html?stateCode=20...,KASMAR(111304),BOKARO(322),KASMAR(3069),Download,00111304_f_20191229150751.pdf,111304,203223069111304
1,32,JHARKHAND(20),58,preloginDownloadScorePDF2019.html?stateCode=20...,TELO MIDDLE(111330),BOKARO(322),CHANDRAPURA(6626),Download,00111330_f_20191227210827.pdf,111330,203226626111330
2,35,JHARKHAND(20),55,preloginDownloadScorePDF2019.html?stateCode=20...,NAWADIH(111334),BOKARO(322),NAWADIH(3070),Download,00111334_f_20200214113859.pdf,111334,203223070111334
3,37,JHARKHAND(20),53,preloginDownloadScorePDF2019.html?stateCode=20...,RANGAMATI EAST(111148),BOKARO(322),CHANDRAPURA(6626),Download,00111148_f_20200121130645.pdf,111148,203226626111148
4,37,JHARKHAND(20),53,preloginDownloadScorePDF2019.html?stateCode=20...,TENUGHAT(111366),BOKARO(322),PETERWAR(3071),Download,00111366_f_20200206174404.pdf,111366,203223071111366

In [51]:
data.to_csv('ALL_new.csv',index=False)

In [62]:
data['pdf_names'].nunique()

990

In [95]:
# Combining all related villages into one dataframe

l = list(data['pdf_names'].unique())
l.remove(None)
df = pd.DataFrame()
for f in l:
    a = pd.read_csv('C:\\Users\\Maria\\Desktop\\ISB\\Jharkhand Pulse\\anti_pop_files\\'+f[:-3] +'tsv', sep='\t')
    a['id'] = [f[:8] for x in range(a.shape[0])]
    df = df.append(a)

,Unnamed: 0,Male Population,Total No. Of SHGs,Total Un-irrigated Area (in ha),Net sown Area (in ha),Total Cultivable Area(in ha),Total Population,Villages,Female Population,Total Households,Total Irrigated Area (in ha),id
0,NaN,460,15.0,0.12,0.80000,4.85,911,Bendotanr ( 362493),451,215,0.300,00111304
1,NaN,1330,22.0,2.47,2.47000,50.00,2650,Surjudih ( 362494),1320,610,2.400,00111304
2,NaN,182,22.0,3.02,2.83000,6.07,3289,Kasmar ( 362495),1800,700,1.000,00111304
0,NaN,3904,35.0,768.00,290.00000,1305.00,7502,Telo (CT) ( 362286),3598,1596,50.000,00111330
0,NaN,2217,43.0,2.00,2.36842,16.70,4362,Nawadih ( 362198),2145,790,1.882,00111334
...,...,...,...,...,...,...,...,...,...,...,...,...
0,NaN,1350,19.0,54.56,275.00000,289.56,2800,Bhangoan ( 378330),1450,562,23.000,00115399
1,NaN,303,7.0,25.81,150.00000,165.81,635,Rengalbera ( 378331),332,135,14.000,00115399
2,NaN,720,20.0,85.00,265.00000,290.00,1420,Gitipi ( 378332),700,355,18.000,00115399
3,NaN,575,12.0,80.00,270.00000,300.00,1173,Juginanda ( 378334),597,280,22.000,00115399
4,NaN,676,8.0,40.00,200.00000,220.00,1363,Jhirpai ( 378335),687,316,18.000,00115399

In [96]:
df.to_csv('villages.csv',index=False)